body {
    height: 97vh;
    display: grid;
    grid-template-rows: 100px 1fr 30px;

    background-color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

header {
    grid-row: 1/2;

    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;

    text-align: center;
    font-size: 40px;
}

#links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

#main-container{
    grid-row: 2/3;

    padding: 30px;
    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    column-gap: 40px;
}

#img-container{
    width: 100%;
    max-width: 500px;
}

img {
    width: 100%;
    max-width: 500px;

    border-radius: 40px;
}

footer {
    grid-row: 3/4;

    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}