body {
    height: 90vh;
    display: grid;
    grid-template-rows: 60px 1fr 20px;
    background-color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

header {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

header a:hover {
    color: darkgray;
}

#links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

#main-container{
    grid-row: 2/3;
    padding: 5vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2vh;
}

#img-container{
    max-width: 25vw;
    max-height: 25vw;
}

img {
    max-width: 25vw;
    max-height: 25vw;
    border-radius: 10%;
}

#text-container {
    width: 100%;
    max-width: 850px;
    padding-left: 5vh;
    font-size: 3.5vh;
}

footer {
    grid-row: 3/4;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}